httpx
click==8.1.7
nest_asyncio
numpy==1.26.0
gridlooper>=0.0.1
dill>=0.3.7
pydantic
psutil
attrsx
attrs>=23.1.0
pyyaml
aiohttp
requests
fastapi
pympler==1.0.1
sentence-transformers
hnswlib==0.8.0
ollama
openai
torch
