jupyter>=1.1.1
pyyaml
nbformat
numpy==1.26.0
twine>=5.1.1
packaging
pip_audit==2.7.3
mkdocs-mermaid2-plugin>=1.2.1
uvicorn
fastapi
attrs>=22.2.0
wheel>=0.44.0
setuptools==75.1.0
nbconvert==7.16.4
pandas
mkdocs>=1.6.0
mkdocs-material>=9.5.30
streamlit>=1.39.0
requests
stdlib-list
click==8.1.7
