stdlib-list
uvicorn
nbconvert==7.16.4
numpy==1.26.0
pip_audit==2.7.3
fastapi
nbformat
jupyter>=1.1.1
streamlit>=1.39.0
twine>=5.1.1
mkdocs>=1.6.0
requests
pandas
mkdocs-material==9.5.30
packaging
pyyaml
attrs>=22.2.0
click==8.1.7
setuptools==75.1.0
wheel>=0.44.0
