requests
sentence-transformers
numpy
httpx
google-auth-httplib2
stdlib-list
hnswlib
pandas
jupyter
attrs
nbformat
mkdocs
tox
pytest
mocker_db
gridlooper
openai
pyyaml
tox-gh-actions
plotly
sqlalchemy
nbconvert
pip_audit
pylint
cryptography
tqdm
ipykernel
package-auto-assembler
mkdocs-material
python-dotenv
dill
