numpy
sentence-transformers
google-auth-httplib2
stdlib-list
pandas
hnswlib
attrs
jupyter
nbformat
tox
mocker_db
pytest
openai
pyyaml
tox-gh-actions
plotly
nbconvert
pylint
tqdm
ipykernel
dill
package-auto-assembler
python-dotenv
