sentence-transformers
numpy
httpx
google-auth-httplib2
stdlib-list
pandas
hnswlib
attrs
jupyter
nbformat
tox
mocker_db
pytest
gridlooper
openai
pyyaml
tox-gh-actions
plotly
sqlalchemy
nbconvert
pip_audit
pylint
cryptography
tqdm
ipykernel
dill
package-auto-assembler
python-dotenv
